SDL_INCLUDE_PATH = r"c:\tmp\SDL-1.2.13\include"
SDL_LIB_PATH = r"c:\tmp\SDL-1.2.13\lib"
SDLNET_INCLUDE_PATH = r"c:\tmp\SDL_net-1.2.7\include"
SDLNET_LIB_PATH = r"c:\tmp\SDL_net-1.2.7\lib"
SDLMIXER_INCLUDE_PATH = r"c:\tmp\SDL_mixer-1.2.8\include"
SDLMIXER_LIB_PATH = r"c:\tmp\SDL_mixer-1.2.8\lib"
SDLTTF_INCLUDE_PATH = r"c:\tmp\SDL_ttf-2.0.9\include"
SDLTTF_LIB_PATH = r"c:\tmp\SDL_ttf-2.0.9\lib"
BOOST_INCLUDE_PATH = r"C:\Program Files\boost\boost_1_35_0"
BOOST_LIB_PATH = r"C:\Program Files\boost\boost_1_35_0\lib"
LIBSAMPLERATE_INCLUDE_PATH = r"C:\tmp\libsamplerate-0.1.3"
LIBSAMPLERATE_LIB_PATH = r"C:\tmp\libsamplerate-0.1.3"
